<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="<%= csrfToken %>" name="_csrf">
    <title><%= title %></title>
    <link href="./css/dashboard.css" rel="stylesheet">
    <link href="./css/sessions.css" rel="stylesheet">
    <link href="./css/nav.css" rel="stylesheet">
</head>
<body>
<%- include("nav.ejs") %>
<main>
    <h1>Welcome back, John Doe</h1>
    <div class="sessions">
        <h1>Upcoming sessions</h1>
        <div class="session">
            <div class="session-text">
                <h2>Football</h2>
                <p>Number of players: 10</p>
                <p>Time: 2:00pm</p>
                <p>Date: 12/12/2020</p>
            </div>
            <div class="session-button">
                <button>View</button>
            </div>
        </div>
        <div class="session">
            <div class="session-text">
                <h2>Cricket</h2>
                <p>Number of players: 10</p>
                <p>Time: 2:00pm</p>
                <p>Date: 12/12/2020</p>
            </div>
            <div class="session-button">
                <button>View</button>
            </div>
        </div>
    </div>
    <div class="sessions">
        <h1>Personal sessions</h1>
        <div class="session">
            <div class="session-text">
                <h2>Football</h2>
                <p>Number of players: 10</p>
                <p>Time: 2:00pm</p>
                <p>Date: 12/12/2020</p>
            </div>
            <div class="session-button">
                <button>View</button>

            </div>
        </div>
        <div class="session">
            <div class="session-text">
                <h2>Cricket</h2>
                <p>Number of players: 10</p>
                <p>Time: 2:00pm</p>
                <p>Date: 12/12/2020</p>
            </div>
            <div class="session-button">
                <button>View</button>
            </div>
        </div>
    </div>
</main>

</body>
</html>