body {
    margin: 0;
    padding: 0;
}

main {
    margin: 5px;
}

main > h1 {
    font-size: 30px;
    font-weight: 400;
    color: #545454;
    margin: 5px 0 15px 0;
}

.user {
    font-size: 32px;
    font-weight: 600;
    color: #545454;
}

main div > h1 {
    font-size: 30px;
}

.breadcrumb {
    margin: 0;
    padding: 0;
}

.breadcrumb ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin-top: 5px;
    padding: 0;
    margin-bottom: 0;
}

.breadcrumb ul li {
    margin: 0 2px;
}

.breadcrumb ul li a {
    text-decoration: none;
    color: #565656;
    font-size: 16px;
    font-weight: 500;
}

.breadcrumb ul li a:hover {
    color: #435dec;
    text-decoration: underline;
}

.new-sport, .add, .cancel, .new-session, .view-session, .join, .leave {
    border: 1px solid #333;
    border-radius: 12px;
    margin: 10px;
    padding: 11px;
    font-size: 17px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.new-sport:hover, .add:hover, .cancel:hover, .new-session:hover, .view-session:hover, .join:hover, .leave:hover {
    font-size: 19px;
}

.view-session, .leave {
    padding: 6px;
}

.view-session:hover, .leave:hover {
    padding: 8px;
}

.no-sessions, .full, .no-sports, .no-members, .empty {
    font-size: 20px;
    font-weight: 600;
    color: #ff0000;
    margin: 5px 0 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full, .empty {
    margin: 0;
}

.no-sports {
    font-size: 25px;
    display: block;
    margin: 0 auto;
}
